html {
   height: 100%;
   scroll-behavior: smooth;
}

body {
   height: 100%;
   font-family: "Roboto";
   background-color: #ffffff;
   font-size: 12px;
   line-height: 1.17;
   font-weight: 500;
   cursor: default;
}

body[data-theme="dark"] {
   background-color: #191a19;
   color: #b5b5b5;
}

.main-wrapper {
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1 1 auto;
}

h1,
h2,
h3,
p {
   margin: 0;
}

ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   text-decoration: none;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}
