// Основной цвет текста
$primary-text-color: #000000;
$white-text-color:#ffffff;
$header-color: rgba(0, 0, 0, 0.56);
//пагинация и футер
$footer-background-color: #f7f7f7;
$footer-text-color: #545454;
$modal-background-color: #726d6d;
$accent-color: #ff6b08;
$rating-color: #ff6b01;
// Текст notify
$notify-text-color: #ff001b;