
<ul class="gallery"></ul>

<!-- <div class="gallery__library">
  <div>
    <div class="gallery__image">
      <img src="/images/Example.png" alt="Non" />
    </div>
    <p>GREYHOUND</p>
    <ul>
      <li>Documentary</li>
      <li>Action</li>
      <li>2020</li>
    </ul>
  </div>
  <div>
    <div class="gallery__image">
      <img src="/images/Example.png" alt="Non" />
    </div>
    <p>GREYHOUND</p>
    <ul>
      <li>Documentary</li>
      <li>Action</li>
      <li>2020</li>
    </ul>
  </div>
  <div>
    <div class="gallery__image">
      <img src="/images/Example.png" alt="Non" />
    </div>
    <p>GREYHOUND</p>
    <ul>
      <li>Documentary</li>
      <li>Action</li>
      <li>2020</li>
    </ul>
  </div>
  <div>
    <div class="gallery__image">
      <img src="/images/Example.png" alt="Non" />
    </div>
    <p>GREYHOUND</p>
    <ul>
      <li>Documentary</li>
      <li>Action</li>
      <li>2020</li>
    </ul>
  </div>

</div>
 -->