<header class="header">
    <div class="container">
        <div class="header-nav__container">
            <div class="header-logo">
                <a class="header-logo__link" href="./index.html">
                    <svg class="header-logo__svg" width="24px" height="24px">
                        <use href="./images/svg/header.svg#icon-logo"></use>
                    </svg>
                    <h2 class="header-logo__text">Filmoteka</h2>
                </a>
            </div>
            <nav class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__item header-nav__item-current">
                        <a class="header-nav__item-link" href="./index.html">
                            HOME
                        </a>
                    </li>
                    <li class="header-nav__item">
                        <a class="header-nav__item-link" href="#">
                            MY LIBRARY
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <form class="header-form">
            <input class="header-form__input" placeholder="Поиск фильмов">
            <button class="header-form__btn">
                <svg class="header-form__svg"width="12px" height="12px">
                <use href="./images/svg/header.svg#icon-search"></use>
                </svg>
            </button>
        </form>
<!-- MY LIBRARY function BTN -->
        <!-- <div class="header-filter">
            <button class="header-filter__btn">WATCHED</button>
            <button class="header-filter__btn">QUEUE</button>
        </div> -->
    </div>
</header>