.dropdown_genres{
  opacity: 0.9;
  text-align: center;
  background: $primary-text-color;
  box-shadow: 0 1px 5px rgb(155 89 182 / 10%);
  background-clip: padding-box;
  cursor: pointer;
  @media screen and (min-width: 768px){
    text-align: left;
  }
}
.genres_list {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.genres_item {
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  background: #8c8c8c;
  border-radius: 5px;
  justify-content: center;
  &:hover {
    background: $white-text-color;
  }
}
.genres_item.active {
  background: $accent-color;
}
