.dropdown_genres {
  opacity: 0.9;
  text-align: center;
  background: $primary-text-color;
  cursor: pointer;
}
.genres_list {
  padding: 20px 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  display: grid;
  border-bottom: 3px solid $accent-color;
  @media screen and (min-width: 768px) {
    grid-gap: 15px;
  }
}
.genres_item {
  display: block;
  padding: 10px 0;
  background: #8c8c8c;
  border-radius: 5px;
  color: $white-text-color;
  &:hover {
    background: $accent-color;
  }
}
.genres_item.active {
  background: $accent-color;
}
