.dropdown_genres.show {
  // position: absolute;
  // top:230px;
  width: 100%;
  z-index: 1000;
  padding: 20px 20px 120px;
  overflow: hidden;
  opacity: 0.9;
  border-bottom: 3px solid $accent-color;
  text-align: left;
  background: $primary-text-color;
  box-shadow: 0 1px 5px rgb(155 89 182 / 10%);
  background-clip: padding-box;
  cursor: pointer;
}

.dropdown_genres {
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.genres_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.genres_item {
  display: inline-flex;
  justify-content: center;
  padding: 10px 20px;
  background: #8c8c8c;
  border-radius: 5px;
  &:hover {
    background: $white-text-color;
  }
}
.genres_item.active {
  background: $accent-color;
}
