.film-card__image{
    border-radius: 5px;
    width: 280px;
    height: 398px;
    @media screen and (min-width: 768px) {
        width: 294px;
        height: 398px;
    }
    @media screen and (min-width: 1024px){
        width: 274px;
        height: 398px;
    }
}
.film-card__title{
    margin-top: 8px;
    text-transform: uppercase;
    &[data-theme="light"]{
        color: $primary-text-color;
    }
    &[data-theme="dark"]{
        color: $white-text-color;
    }
}
.film-card__genre{
    margin-top: 5px;
    color: $accent-color;
}
.film-card__raiting{
    display: inline-block;
    width: 36px;
    height: 16px;
    margin-left: 8px;
    padding: 1px 10px;
    color: $white-text-color;
    background: $rating-color;
    border-radius: 5px;
}