.footer[data-theme="light"] {
   padding: 30px 0;
   background-color: $footer-background-color;
}

.footer[data-theme="dark"] {
   padding: 30px 0;
   background: #000103;
}

.footer-box {
   display: flex;
   flex-direction: column;
   align-items: center;

   @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
   }
}

.footer-box__text[data-theme="light"] {
   font-size: 14px;
   line-height: 1.17;
   color: $footer-text-color;

   @media screen and (min-width: 768px) {
      font-size: 16px;
   }
}

.footer-box__text[data-theme="dark"] {
   font-size: 14px;
   line-height: 1.17;
   color: #b5b5b5;

   @media screen and (min-width: 768px) {
      font-size: 16px;
   }
}

.footer-box__text:first-child {
   margin-bottom: 10px;

   @media screen and (min-width: 768px) {
      margin-bottom: 0;
   }
}

.developers {
   display: flex;
   align-items: center;
   @media screen and (min-width: 768px) {
      margin-left: 5px;
   }
}

.footer-box__text--after[data-theme="light"] {
   position: relative;
   margin-right: 25px;
}

.footer-box__text--after[data-theme="dark"] {
   position: relative;
   margin-right: 25px;
   color: #b5b5b5;
}

.footer-box__text--after::after {
   position: absolute;
   top: 2px;
   right: -20px;
   content: url("/images//svg/heart.svg");
   width: 14px;
   height: 14px;
   animation: beat 800ms alternate infinite cubic-bezier(0.4, 0, 0.2, 1);
   transform-origin: center;
}

@keyframes beat {
   to {
      transform: scale(1.4);
   }
}

.footer__link[data-theme="light"] {
   cursor: pointer;
   text-decoration: underline;
   color: $footer-text-color;
}

.footer__link[data-theme="dark"] {
   cursor: pointer;
   text-decoration: underline;
   color: #b5b5b5;
}
