* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}

.gallery {
  display: grid;
  justify-content: center;
  margin-top: 60px;
  grid-template-columns: repeat(3, 274px);
  column-gap: 16px;
  row-gap: 32px;

  @media screen and (max-width: 1023px) {
    grid-template-columns: repeat(2, 294px);
    grid-gap: 32px;
  }

  @media screen and (max-width: 767px) {
    margin-top: 20px;
    grid-template-columns: repeat(1, 280px);
    row-gap: 20px;
  }
}
///------///
.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: rgba($color: #000000, $alpha: .3);
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  text-align: center;
  border: 5px solid #FF6B08;
  border-left-color: lightgray;
  border-radius: 50%;

  animation: rotation 1s linear infinite;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loader-11 {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #fff #fff transparent transparent;
  animation: rotation 1s linear infinite;
  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid;
    border-color: transparent transparent #FF6B08 #FF6B08;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
  }
  &:before {
    width: 42px - 16px;
    height: 42px - 16px;
    border-color: #fff #fff transparent transparent;
    animation: rotation 1.5s linear infinite;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.loader-60 {
  width: 15px;
  height: 15px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background:  currentColor;
  display: inline-block;
  position: relative;
  color: #fff;
  left: 80px;
  animation: animloader60 2s ease infinite;
   &::after , &::before {
    content: '';
    width: 15px;
    height: 15px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background:  currentColor;
    color: #fff;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader60 2s 0.2s ease infinite;
  }
  &::before {
    animation-delay: 0.4s;
    left: 60px;
  }
}



@keyframes animloader60 {
  0%   { top: 0;   color: rgba(#fff, 1) }
  50%  { top: 30px;   color: rgba(#fff, 0.2) }
  100% { top: 0;    color: rgba(#fff, 1)}
}