* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
img {
   display: block;
   width: 100%;
}
ul {
   list-style: none;
}

.gallery {
   flex: 1 0 auto;
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(3, 274px);
   column-gap: 16px;
   row-gap: 32px;

   @media screen and (max-width: 1023px) {
      grid-template-columns: repeat(2, 294px);
      grid-gap: 32px;
   }

   @media screen and (max-width: 767px) {
      margin-top: 20px;
      grid-template-columns: repeat(1, 280px);
      row-gap: 20px;
   }
}
///------///
.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000000, 0.3);
  z-index: 1001;

  
}

.preloade__loader {
  width: 15px;
  height: 15px;
  box-shadow: 0 30px, 0 -30px;
  border-radius: 4px;
  background: currentColor;
  display: inline-block;
  position: relative;
  color: #fff;
  left: 0;
  animation: animloader 2s ease infinite;
  &::after,
  &::before {
    content: '';
    width: 15px;
    height: 15px;
    box-shadow: 0 30px, 0 -30px;
    border-radius: 4px;
    background: currentColor;
    color: #fff;
    position: absolute;
    left: 30px;
    top: 0;
    animation: animloader 2s 0.2s ease infinite;
  }
  &::before {
    animation-delay: 0.5s;
    left: 60px;
  }
}

@keyframes animloader {
  0% {
    top: 0;
    color: rgba(#fff, 1);
  }
  50% {
    top: 30px;
    color: rgba(#fff, 0.2);
  }
  100% {
    top: 0;
    color: rgba(#fff, 1);
  }
}
