li {
   list-style: none;
}
* {
   margin: 0;
   padding: 0;
   border: 0;
}
a {
   text-decoration: none;
}
.header {
   flex: 0 0 auto;
   background-color: $primary-text-color;
   width: 100%;
   height: 230px;
   background-image: linear-gradient($header-color, $header-color),
      url(../images/header/header-bg-mobile.jpg);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   padding-top: 46px;
   margin-bottom: 20px;

   @media screen and (min-width: 768px) {
      width: 100%;
      background-image: linear-gradient($header-color, $header-color),
         url(../images/header/header-bg-tablet.jpg);
      margin-bottom: 60px;
   }

   @media screen and (min-width: 1024px) {
      width: 100%;
      background-image: linear-gradient($header-color, $header-color),
         url(../images/header/header-bg-desktop.jpg);
      margin-bottom: 60px;
   }
}
//add header class on click "MY LIBRARY"
.header_libr {
   background-color: rgb(39, 1, 4);
   width: 100%;
   height: 230px;
   margin: auto;
   background-image: linear-gradient($header-color, $header-color),
      url(../images/header/header-lib-bg-mobile.jpg);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   padding-top: 46px;
   margin-bottom: 20px;

   @media screen and (min-width: 768px) {
      width: 100%;
      background-image: linear-gradient($header-color, $header-color),
         url(../images/header/header-lib-bg-tablet.jpg);
      margin-bottom: 60px;
   }

   @media screen and (min-width: 1024px) {
      width: 100%;
      background-image: linear-gradient($header-color, $header-color),
         url(../images/header/header-lib-bg-desktop.jpg);
      margin-bottom: 60px;
   }
}
//header logo
.header-logo {
   &:hover .header-logo__svg ,
   &:focus .header-logo__svg {
      stroke: $accent-color;
      transform:rotate(45deg);
   }
   &:hover .header-logo__text,
&:focus .header-logo__text{
   color:$accent-color;
}
}
.header-logo__link {
   @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      color: $white-text-color;
   }

   @media screen and (min-width: 1024px) {
   }
}
.header-logo__svg {
   stroke: #818181;
   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
   @media screen and (min-width: 768px) {
      margin-right: 10px;
   }

   @media screen and (min-width: 1024px) {
   }
}
.header-logo__text {

   font-size: 30px;
   line-height: 1.16;
   display: flex;
   align-items: center;
   text-align: center;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   

   @media screen and (max-width: 767px) {
      display: none;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.16;
   }

   @media screen and (min-width: 1024px) {
   }
}
//header logo END

//header nav-menu
.header-nav__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 38px;
   color: $white-text-color;

   @media screen and (min-width: 768px) {
   }

   @media screen and (min-width: 1024px) {
   }
}
.header-nav__list {
   display: flex;
}
.header-nav__item {
   font-weight: 500;
   font-size: 12px;
   line-height: 1.16;
}
.header-nav__item-link {
   color: $white-text-color;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      color: #818181;
   }
}
.header-nav__item:not(:last-child) {
   margin-right: 39px;
}
// Current style hav menu
.header-nav__isActive::after {
   content: "";
   height: 4px;
   width: 100%;
   background-color: $accent-color;
   display: block;
}
//header nav-menu END
//Form search
.header-form {
   display: flex;
   justify-content: center;
   position: relative;
   margin: auto;
   margin-bottom: 22px;

   @media screen and (min-width: 768px) {
      width: 336px;
   }

   @media screen and (min-width: 1024px) {
      width: 336px;
   }
}
.header-form__input {
   background: transparent;
   width: 100%;
   border: 0px;
   outline: 0;
   border-bottom: 0.5px solid $white-text-color;

   font-weight: 400;
   font-size: 14px;
   color: $white-text-color;
   line-height: 1.14px;
   padding: 0 25px 4px 0;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      border-color: $accent-color;
   }

   @media screen and (min-width: 768px) {
      width: 336px;
   }

   @media screen and (min-width: 1024px) {
      width: 336px;
   }
}
.header-form__input::placeholder {
   color: $white-text-color;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.14;
}
.header-form__btn {
   width: 12px;
   height: 12px;
   background-color: transparent;
   border: 0;
   position: absolute;
   right: 0;
   background-image: url(../images/header/search-bg.png);
   background-position: center;
   background-repeat: no-repeat;
}

//END Form search

//BTN from MYLIBRARY
.header-filter {
   display: flex;
   justify-content: center;
}
.header-filter__btn {
   padding: 14px 36px 12px 36px;
   height: 44px;
   background-color: transparent;
   color: $white-text-color;
   border-radius: 5px;
   border: 1px solid $white-text-color;
   min-width: 130px;
   font-weight: 500;
   font-size: 12px;
   line-height: 1.3;
   color: $white-text-color;

   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

   &:hover,
   &:focus {
      text-shadow: 1px 1px 1px primary-text-color;
      border: 0px;
      outline: 0;
      background-color: $accent-color;
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
   }
}
.header-filter__btn:not(:last-child) {
   margin-right: 20px;
}
.header-filter__btn-isActive {
   text-shadow: 1px 1px 1px primary-text-color;
   border: 0px;
   outline: 0;
   background-color: $accent-color;
   box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
//END BTN from MYLIBRARY

// * Styles for toggle switch(themes)

input[type="checkbox"] {
   /* styling for input element */
   height: 0;
   width: 0;
   visibility: hidden;
}

label {
   border: 1px solid #ffffff;
   /* styling for labels */
   cursor: pointer;
   text-indent: -9999px;
   width: 52px;
   height: 27px;
   background: #191a19;
   float: right;
   border-radius: 100px;
   position: relative;
}

label:after {
   content: "";
   position: absolute;
   top: 1px;
   left: 3px;
   width: 23px;
   height: 23px;
   background: #ff6b08;

   border-radius: 90px;
   -webkit-transition: 0.3s;
   transition: 0.6s;
}

input:checked + label {
   background: #ffffff;
}

input:checked + label:after {
   left: calc(100% - 1px);
   -webkit-transform: translateX(-100%);
   transform: translateX(-100%);
}

label:active:after {
   width: 45px;
}
