.plug{
    width: 340px;
    display: block;
    margin: 0 auto;
  }
  .plug_image{
    display: block;
    
      margin-left: auto;
      margin-right: auto
  }
  .plug_title{
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px auto;
    color: #FF6B08;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  
  }
  .plug_text{
    font-size: 16px;
    color: #000000;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 20px;
    }
    
  }